﻿@model FrontendPAW.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>
<br />

<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>
    </dl>
    <h3>¿Desea eliminar esta categoría?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategoria" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
