﻿@model FrontendPAW.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de @Html.DisplayFor(model => model.NombreCategoria)</h1>

<div>
    <h4>Tabla de categorías</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCategoria">Actualizar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
