﻿@model IEnumerable<FrontendPAW.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorías</h1>

<p>
    <a asp-action="Create">Crear nueva categoría</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de categoría
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCategoria)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCategoria">Actualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCategoria">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCategoria">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
