﻿@model FrontendPAW.Models.ProgramaEjercicio

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>
<br />

<div>
    <h4>Programa-Ejercicio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Programa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FkIdProgramaNavigation.TituloPrograma)
        </dd>
        <dt class="col-sm-2">
            Ejercicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FkIdEjercicioNavigation.NombreEjercicio)
        </dd>

        <dt class="col-sm-2">
            Número de sets
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NSets)
        </dd>
        <dt class="col-sm-2">
            Repeticiones
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NReps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>

    </dl>
    <h3>¿Desea eliminar este ejercicio?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProgramaEjercicio" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
