﻿@model FrontendPAW.Models.ProgramaEjercicio

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>
<br />
<div>
    <h4>Programa-Ejercicio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
          
            Programa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FkIdProgramaNavigation.TituloPrograma)
        </dd>
        <dt class="col-sm-2">
           
            Ejercicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FkIdEjercicioNavigation.NombreEjercicio)
        </dd>

        <dt class="col-sm-2">
            Número de sets
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NSets)
        </dd>
        <dt class="col-sm-2">
            Repeticiones
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NReps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProgramaEjercicio">Actualizar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
