﻿@model FrontendPAW.Models.ProgramaEjercicio

@{
    ViewData["Title"] = "Edit";
}

<h1>Actualizar</h1>
<br />
<h4>Programa-Ejercicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProgramaEjercicio" />
            <div class="form-group">
                <label asp-for="FkIdPrograma" class="control-label">Programa</label>
                <select asp-for="FkIdPrograma" class="form-control" asp-items="ViewBag.FkIdPrograma"></select>
                <span asp-validation-for="FkIdPrograma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkIdEjercicio" class="control-label">Ejercicio</label>
                <select asp-for="FkIdEjercicio" class="form-control" asp-items="ViewBag.FkIdEjercicio"></select>
                <span asp-validation-for="FkIdEjercicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NSets" class="control-label">Sets</label>
                <input asp-for="NSets" class="form-control" />
                <span asp-validation-for="NSets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NReps" class="control-label">Repeticiones</label>
                <input asp-for="NReps" class="form-control" />
                <span asp-validation-for="NReps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label">Notas</label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
