﻿@model IEnumerable<FrontendPAW.Models.ProgramaEjercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Programa-Ejercicio</h1>

<p>
    <a asp-action="Create">Crear nueva rutina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Programa
            </th>
            <th>
                Ejercicio
            </th>

            <th>
                Sets
            </th>
            <th>
                Repeticiones
            </th>
            <th>
                Notas
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FkIdProgramaNavigation.TituloPrograma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FkIdEjercicioNavigation.NombreEjercicio)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NSets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NReps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notas)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProgramaEjercicio">Actualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProgramaEjercicio">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProgramaEjercicio">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
