﻿@model IEnumerable<FrontendPAW.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
               Descripción
            </th>
            <th>
                Cantidad en inventario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                Categoría
            </th>
            <th>
                Proveedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantInventario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.NombreCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProveedorNavigation.NombreProveedor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProducto">Actualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProducto">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProducto">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
