﻿@model IEnumerable<FrontendPAW.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Compra</h1>

<p>
    <a asp-action="Create">Crear Compra</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Usuario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCompra">Actualizar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCompra">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCompra">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

