﻿@model IEnumerable<FrontendPAW.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create">Crear nuevo pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Fecha del pedido
            </th>
            <th>
                Fecha de entrega
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProductoNavigation.NombreProducto)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPedido">Actualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPedido">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPedido">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
