﻿@model FrontendPAW.Models.Proveedor

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Desea eliminar este proveedor?</h3>
<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Nombre</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>
        <dt class="col-sm-2">
            <label>Apellido</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoProveedor)
        </dd>
        <dt class="col-sm-2">
            <label>Telefono</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoProveedor)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProveedor" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
