﻿@model FrontendPAW.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Nombre</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>
        <dt class="col-sm-2">
            <label>Apellido</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoProveedor)
        </dd>
        <dt class="col-sm-2">
            <label>Telefono</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoProveedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProveedor">Actualizar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
