﻿@model IEnumerable<FrontendPAW.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Proveedores</h1>

<p>
    <a asp-action="Create">Crear nuevo proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoProveedor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProveedor">Actualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProveedor">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProveedor">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
