﻿@model FrontendPAW.Models.Rutina

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>


<div>
    <h4>Rutina</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Programa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProgramaNavigation.TituloPrograma)
        </dd>
        <dt class="col-sm-2">
            Usuario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.CorreoElectronico)
        </dd>
        <dt class="col-sm-2">
            Fecha de inicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            Fecha de finalizacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
    </dl>
    <br />
    <h3>¿Desea eliminar esta rutina?</h3>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRutina" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
