﻿@model FrontendPAW.Models.Rutina
@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Rutina</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Programa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProgramaNavigation.TituloPrograma)
        </dd>
        <dt class="col-sm-2">
            Usuario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.CorreoElectronico)
        </dd>
        <dt class="col-sm-2">
            Fecha de inicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            Fecha de finalizacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRutina">Actualizar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
