﻿@model IEnumerable<FrontendPAW.Models.Rutina>

@{
    ViewData["Title"] = "Index";
}

<h1>Rutinas</h1>

<p>
    <a asp-action="Create">Crear nueva rutina</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Programa
            </th>
            <th>
                Usuario
            </th>
            <th>
                Fecha de inicio
            </th>
            <th>
                Fecha de finalizacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.IdProgramaNavigation.TituloPrograma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRutina">Actualizar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRutina">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRutina">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
