﻿@model FrontendPAW.Models.Actividades

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>


<div>
    <h4>Actividades</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreActivIdAdes)
        </dd>
        <dt class="col-sm-2">
            Tipo de actividad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoActividad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            Descripción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt class="col-sm-2">
           Cupos Minimos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinInventario)
        </dd>
        <dt class="col-sm-2">
            Cupos Maximos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxInventario)
        </dd>
    </dl>

    <h3>¿Desea eliminar esta actividad?</h3>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdActividad" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
