﻿@model FrontendPAW.Models.Actividades

@{
    ViewData["Title"] = "Details";
}

<h1>Datalles de @Html.DisplayFor(model => model.NombreActivIdAdes)</h1>

<div>
    <h4>Actividades</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre de actividad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreActivIdAdes)
        </dd>
        <dt class="col-sm-2">
           Tipo de actividad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoActividad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            Descripción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt class="col-sm-2">
            Cupos mínimos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinInventario)
        </dd>
        <dt class="col-sm-2">
            Cupos máximos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxInventario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdActividad">Actualizar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
