﻿@model FrontendPAW.Models.Actividades

@{
    ViewData["Title"] = "Edit";
}

<h1>Actualizar</h1>

<h4>Actividades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdActividad" />
            <div class="form-group">
                <label asp-for="NombreActivIdAdes" class="control-label">Nombre de actividad</label>
                <input asp-for="NombreActivIdAdes" class="form-control" />
                <span asp-validation-for="NombreActivIdAdes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoActividad" class="control-label">Tipo de actividad</label>
                <select asp-for="TipoActividad" class="form-control" asp-items="ViewBag.TipoActividad"></select>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label">Precio</label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha</label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MinInventario" class="control-label">Cupos mínimos</label>
                <input asp-for="MinInventario" class="form-control" />
                <span asp-validation-for="MinInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxInventario" class="control-label">Cupos máximos</label>
                <input asp-for="MaxInventario" class="form-control" />
                <span asp-validation-for="MaxInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
