﻿@model IEnumerable<FrontendPAW.Models.Actividades>

@{
    ViewData["Title"] = "Index";
}

<h1>Actividades</h1>

<p>
    <a asp-action="Create">Crear nueva actividad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Tipo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
            <th>
                Cupos Mínimos
            </th>
            <th>
                Cupos Máximos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreActivIdAdes)
                </td>
                <td>
                        @if (item.TipoActividad == 1)
                        {
                            <p>Taller</p>
                        } else if (item.TipoActividad == 2) {
                            <p>Evento competitivo</p>
                        }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinInventario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxInventario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdActividad">Actualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdActividad">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdActividad">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
