﻿@model FrontendPAW.Models.Ejercicios

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Ejercicios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEjercicio" class="control-label">Nombre</label>
                <input asp-for="NombreEjercicio" class="form-control" />
                <span asp-validation-for="NombreEjercicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkVideo" class="control-label">URL del vídeo</label>
                <input asp-for="LinkVideo" class="form-control" />
                <span asp-validation-for="LinkVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
