﻿@model FrontendPAW.Models.Ejercicios

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>


<div>
    <h4>Ejercicios</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre del ejercicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEjercicio)
        </dd>
        <dt class="col-sm-2">
           Link del video
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LinkVideo)
        </dd>
    </dl>
    <br />
    <h3>¿Desea eliminar este ejercicio?</h3>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEjercicio" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
