﻿@model FrontendPAW.Models.Ejercicios

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Ejercicios</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre del ejercicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEjercicio)
        </dd>
        <dt class="col-sm-2">
            Link del Video
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LinkVideo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEjercicio">Actualizar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
