﻿@model IEnumerable<FrontendPAW.Models.Ejercicios>

@{
    ViewData["Title"] = "Index";
}

<h1>Ejercicios</h1>

<p>
    <a asp-action="Create">Crear un nuevo ejercicio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nombre
            </th>
            <th>
                Link del vídeo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEjercicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkVideo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEjercicio">Actualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEjercicio">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEjercicio">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
