﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="row clearfix">

        <br /><br /><br />
        <div>
            <img style="height:75%;width:75%;" src="~/imagen/__logo horizontal_negro v2.png" />
            <br /><br /><br /><br />
            <h4 class="card-subtitle font-italic">Somos una comunidad liderada por el deseo de transformar vidas a través de la fuerza, la enseñanza <br> y el trabajo en equipo</h4>
        </div>
            

    </div>
   

</div>
