﻿@model FrontendPAW.Models.Log

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>


<div>
    <h4>Asistencia de eventos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            Actividad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdActividadNavigation.NombreActivIdAdes)
        </dd class>
        <dt class = "col-sm-2">
           Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.CorreoElectronico)
        </dd class>
    </dl>
    <h3>¿Desea eliminar esta asistencia?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLog" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
