﻿@model FrontendPAW.Models.Log

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Asistencia de eventos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            Actividad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdActividadNavigation.NombreActivIdAdes)
        </dd>
        <dt class = "col-sm-2">
            Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.CorreoElectronico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLog">Actualizar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
