﻿@model IEnumerable<FrontendPAW.Models.Log>

@{
    ViewData["Title"] = "Index";
}

<h1>Asistencia de eventos</h1>

<p>
    <a asp-action="Create">Crear nueva asistencia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Actividad
            </th>
            <th>
                Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdActividadNavigation.NombreActivIdAdes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.CorreoElectronico)
                    
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdLog">Actualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdLog">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdLog">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
