﻿@model FrontendPAW.Models.Programas

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>


<div>
    <h4>Programas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TituloPrograma)
        </dd>
        <dt class="col-sm-2">
            Descripción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        
    </dl>

    <h3>¿Desea eliminar este programa?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPrograma" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
