﻿@model IEnumerable<FrontendPAW.Models.Programas>

@{
    ViewData["Title"] = "Index";
}

<h1>Programas</h1>

<p>
    <a asp-action="Create">Crear nuevo programa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TituloPrograma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPrograma">Actualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPrograma">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPrograma">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
